@model Lab4.Models.Movie

@{
    ViewData["Title"] = "Edit Movie";
}

<div class="mt-5">
    <h2>Edit Movie</h2>
</div>
<hr/>

<form asp-controller="Home" asp-action="ModifyMovie" method="post">
    <input asp-for="MovieId" type="hidden" value="@Model.MovieId"/>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="SubTitle"></label>
        <input asp-for="SubTitle" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control" rows="10"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="Year"></label>
        <input asp-for="Year" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Rating"></label>
        <input asp-for="Rating" class="form-control"/>
    </div>
    <br/>
    <input type="submit" value="Edit Movie" class="btn btn-secondary"/>
</form>
<br/>
<br/>
<br/>
